* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(253, 255, 174, .2);
    font-family: 'Poppins', sans-serif;
}

.main-container {
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 520px;
    transform: translate(-50%, -50%);
}
.main-container .bmi-title {
    width: 100%;
    background-color: #8BB853;
    padding: 10px;
    color: #FFFFFF;
}
.main-container .info {
    margin: 20px 0;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
.information {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.title {
    width: 100%;
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #8BB853;
    padding: 10px 0; 
    font-size: 20px;
}
.information table {
    background-color: #FDFFAE;
}
.information table, th, td {
    border: 1px solid rgba(139, 184, 83, .5);
}
.information table tr th{
    padding: 20px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #FDFFAE;
}
.calculator .height, .weight, .output {
    padding: 20px;
}
input[type=text] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #8BB853;
    text-align: center;
}
.output p {
    font-size: 22px;
    margin-top: 10px;
}